<!DOCTYPE html>
<html>
<head th:replace="layout::header"></head>
<body>
	<div th:replace="navbar::nav"></div>
	<div class="container">
		<div class="row">
			<form action="#" th:action="@{/addStatus}" th:object="${statusUpdate}" method="post">
				<div class="form-group">
					<div th:if="${#fields.hasErrors('text')}">
	    				<div class="alert alert-danger fade in">
	        				<a href="#" class="close" data-dismiss="alert">&times;</a>
								<strong th:errors="*{text}">Error!</strong>
	    				</div>
					</div>
					
					<label for="mystatus">What's going on?</label>					
					<textarea id="mystatus" name="text" rows="20" cols="50" class="form-control"></textarea>
				</div>
				<div class="form-group">
					<button type="submit" name="submit">Add Status</button>
				</div>
			</form>
		</div>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Status Added on
					<p th:text="${#dates.format(latestStatusUpdate.added, 'dd-MM-yyyy')}">Latest Update Date</p></div>
				</div>
				<div class="panel-body">
					<p th:text="${latestStatusUpdate.text}"></p>		
				</div>
			</div>
		</div>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>