<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<title>View status list</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="pagination pagination-centered">
					<ul class="pagination">
						<li th:each="pageNumber:${#numbers.sequence(1,page.totalPages)}">
							<a th:href="@{/viewstatus(p=${pageNumber})}"><span th:text="${pageNumber}"></span></a>
						</li>
					</ul>
					
					<div class="list-group">
						<a th:each="pagelist : ${page}" th:href="${pagelist.id}"
							class="list-group-item"><span th:utext="${pagelist.text}"></span></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>