<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	<head>
		<title>View status list</title>
	</head>
	<body>
		<div layout:fragment="content">
			<div class="container">
				<div class="pagination pagination-centered">
					<ul class="pagination">
						<li th:each="pageNumber:${#numbers.sequence(1,page.totalPages)}">
							<a th:href="@{/viewstatus(p=${pageNumber})}"><span th:text="${pageNumber}"></span></a>
						</li>
					</ul>
					
					<div class="list-group">
						<div th:each="pagelist : ${page}" class="row list-group-item">
							<div class="col-xs-9 ">
								<span th:utext="${pagelist.text}"></span>
							</div>
							<div class="col-xs-offset-1 col-xs-2 ">
									<a th:href="${'/editstatus/' + pagelist.id}">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> | 
									
									<a th:href="@{/deletestatus(id=${pagelist.id})}" onclick="return confirm('Are you sure you want to delete?')">
									<i class="fa fa-trash" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>